.hor{
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  
}
h3{
font-size: 22px;
font-family: 'Inter';
font-weight:520;
font-style: italic;
color: #1c447f;
}

.Horaires {
display: flex;
align-items: center;
background-color: #ebeef7;
width: 100%;
}

.left-content {
flex: 1;
margin-right: 80px;
margin-left: 7%;
margin-bottom: 30px;
}

.right-content {
flex: 0 0 auto;
}

.pic-horaire {
width: 560px;
height: auto;
}


