<div class="Horaires">
  <div class="left-content">
          <h3 class="hor">Horaires du cabinet</h3>
  <p>Dans l'objectif de répondre de façon optimale aux besoins des patients, le cabinet propose:</p>
  <ul>
      <li>Des consultations:</li> <br>
      <ul>
          <li>de <b>08h30</b> à <b>18h30</b>à du lundi au jeudi (en continu)</li>
          <li>de <b>08h30</b> à <b>12h30</b> et de <b>15h00</b> à 18h30 le vendredi</li>
          <li>de <b>08h30</b> à <b>14h00</b> le samedi</li>
      </ul><br>
      <li>Pour les visites <b>à domicile</b> sur rendez-vous, cliquez <a href="#">ici</a></li>
  </ul>
  </div>
  <div class="right-content">
      <img src="assets/mo.png" class="pic-horaire">
  </div>
</div>