<div class="pop">
    <div class="head">
        <app-header></app-header>
    </div>

    <div class="comp1">
            <h2> Prenez Rendez-vous</h2>
            <span class="sous">Votre santé à portée de clic</span>
            <nav class="breadcrumb">
                <a href="#" class="b1">Home</a>
                <span>&gt;</span>
                <p href="/survey" class="b2">Prenez Rendez-vous</p>
              </nav>    
    </div>

<div class="data">
    <div class="left">
            <h1> N'hésitez pas à nous contacter</h1>
            <h3>
                <img src="assets/appel.gif" alt="phone icon" class="icon">
                Appelez ou écrivez-nous
            </h3>
            <span>
                <strong>Téléphone</strong>: 05 36 75 11 50
            <br><strong class="eml">Email</strong>: Docconnect&#64;docconnect.ma
            </span>
            <hr class="rounded">
            <h3> 
                <img src="assets/trouse.gif" alt="phone icon" class="icon">
                Services à domicile
            </h3>
            <span>
                Nos services à domicile sont disponibles <br><strong class="eml">24h/24h, 7j/7</strong> pour répondre à vos besoins de santé.
            </span>
            <hr class="rounded">

            <h3>
                <img src="assets/emp.gif" alt="phone icon" class="icon">
                Emplacement</h3>
            <span>
                Rue Annakhil, étage 5 Oujda 60000<br>
                <a href="https://www.google.com/maps/dir/34.684885,-1.8891771/supmtioujda/@34.6705002,-1.9179463,14z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0xd7864a5817de333:0x4365aa956bd4ff1e!2m2!1d-1.8985378!2d34.6569566?entry=ttu">Localisation</a>
            </span>
            <hr class="rounded">
    </div>
    <div class="right">
            <h2>Planifiez Votre Consultation</h2>
            <span class="sou">Réservez votre rendez-vous facilement et rapidement</span>
        <form ng-submit="sendMessage()">
          
          <div class="flex-container">
            <div class="flex-item">
                <label for="number">Numéro de téléphone*</label><br>
                <input type="number" id="number" name="number" placeholder="06..." required>
            </div>
            <div class="flex-item">
                <label for="name">Nom Complet*</label><br>
                <input type="text" id="name" name="name" placeholder="Entrez votre nom complet"required><br>
           </div>
        </div>
        <div>
            <label for="email">Adresse courriel*</label><br>
            <input type="email" id="email" name="email" placeholder="email@email.com" required>
        </div>

          <label for="date">Choisissez une date*</label><br>
          <input type="date" id="date" name="date" placeholder=""required><br>

          <input type="submit" value="RESERVEZ EN LIGNE MAINTENANT" class="bout">
        </form>
    </div>
</div>
<div class="englobe"> 
<footer>
    <nav class="breadcrumbFo">
        <p> <br>&copy; 2024 Cabinet médical DocConnect. Tous droits réservés. <br>Conçu et developpé par CHIGUEUR Manal
        </p>
    </nav>
</footer>
<div class="foot">
        
</div>
</div>

</div>

