.contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  background-color: #3b7dd8;
}
.rounded {
  width: 200px;
  margin-top: 40px;
}
.container {
  flex: 1;
  font-family: 'Inter', sans-serif;
  margin: 80px;
  padding: 20px; 
  color: #fff;
}

.container h2 {
  margin-top: 0;
  margin-bottom: 25px;
  color: #111;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.maps {
  flex: 2; 
  position: relative;
  margin-left: 25px;
  margin-top: 30px;
  min-height: 80vh;
}

.maps iframe {
  position: absolute;
  border-radius: 4px;
  margin-top: 55px;
  width: 90%; 
  height: 78%; 
}

.material-symbols-outlined {
  margin-top: -8px;
  font-variation-settings:
  'FILL' 20,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.btn{
  background-color: rgb(25, 25, 25);
  color: #f3f2f2;
}
.btn:hover {
  background-color: #242424;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
