<div class="container">
    <div class="image-section">
      <img src="assets/Ko.png" alt="Docconnect Building">
    </div>
    <div class="text-section">
      <h2>DOCCONNECT EN BREF</h2>
      <p>Docconnect, fondé par le Dr. Hadi Benani, est un cabinet médical dédié à offrir une gamme complète de soins et de services médicaux de haute qualité, avec une approche centrée sur la médecine générale.</p>
      <p>Notre objectif est de répondre à tous vos besoins médicaux grâce à une équipe de professionnels qualifiés, bénéficiant d'une formation continue adaptée, et un plateau technique moderne conforme aux normes internationales.</p>
      <p>En plus des soins médicaux, Docconnect s'engage à fournir un accueil chaleureux et des conseils personnalisés pour garantir à chaque patient une expérience de soins optimale et de qualité.</p>

      <button onclick="location.href='/rdv'">Prenez votre rendez-vous</button>
    </div>
  </div>