<h1>RENCONTRER NOTRE ÉQUIPE PRINCIPALE</h1>
<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/d1.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Dr Hadi Benani</h2>
          <h4 class="card_title2">Position: Médecin Généraliste</h4>
          <p class="card_text">
            Le Dr. Hadi Benani, médecin généraliste de renom, 
            est diplômé de la Faculté de médecine de Marseille
             (France). Fort de son expertise, ...
          </p>
          <div class="more_text">
            Le Dr. Hadi Benani est un médecin généraliste expérimenté, diplômé de la Faculté de médecine de Munich (Allemagne). Avec une solide formation médicale et des années d'expérience, il offre des soins complets et personnalisés à ses patients, en mettant l'accent sur une approche holistique de la médecine. Réputé pour son attention aux détails et sa capacité à établir des relations de confiance, le Dr. Benani est profondément engagé dans la santé et le bien-être de ses patients, faisant de lui un professionnel de confiance et respecté. Le docteur a choisi de de rentrer dans sa ville natale malgré le succès à Munich, cette décision lui a permis de s'installer dans la communauté où il a grandi, renforçant ainsi ses liens avec ses patients et lui permettant de contribuer de manière significative à la santé de sa région.          </div>
          <button class="btn card_btn" (click)="showMore($event)">Lire plus</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/a1.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Laila Beghdadi</h2>
          <h4 class="card_title2">Position: Assistante Médicale</h4>
          <p class="card_text">Laila Beghdadi, assistante médicale expérimentée,
             est un pilier essentiel au sein de notre équipe. Avec des décennies d'expérience dans...</p>
            <div class="more_text">
              Laila Beghdadi, assistante médicale expérimentée, est un pilier essentiel au sein de notre équipe. Avec des décennies d'expérience dans le domaine médical, elle apporte une profonde connaissance et une compréhension intuitive des besoins des patients. Sa bienveillance et son dévouement inébranlable sont évidents dans chaque interaction, établissant ainsi un climat de confiance et de réconfort pour nos patients. Toujours prête à offrir un soutien inestimable, Sophie anticipe les besoins avec grâce et efficacité, assurant ainsi un fonctionnement fluide et harmonieux de notre cabinet médical. Son engagement sans faille envers le bien-être des patients fait d'elle un élément irremplaçable de notre équipe médicale.              
            </div>
          <button class="btn card_btn" (click)="showMore($event)">Lire plus</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="assets/a2.jpg"></div>
        <div class="card_content">
          <h2 class="card_title">Assia Benali</h2>
          <h4 class="card_title2">Position: Assistante Médicale</h4>
          <p class="card_text">Assia Benali, assistante médicale 
            chevronnée, apporte une richesse d'expérience et une empathie 
            naturelle à notre cabinet ...</p>
            <div class="more_text">            
              Amira Mourtaday, assistante médicale chevronnée, apporte une richesse d'expérience et une empathie naturelle à notre cabinet. Forte de son parcours professionnel, elle établit des liens de confiance avec nos patients, offrant un soutien inestimable tout au long de leur parcours de soins. Son professionnalisme exemplaire et sa capacité à anticiper les besoins font d'elle un élément indispensable de notre équipe médicale. 
            </div>
          <button class="btn card_btn" (click)="showMore($event)">Lire plus</button>
        </div>
      </div>
    </li>
  </ul>
</div>


