<div class="head">
    <app-header></app-header>
</div>

<div class="image-container">
    <img src="../assets/pay.jpg" alt="payment" class="paypic">
    
    <div class="container">
        <h1>Paiement de la visite médicale</h1>
        <div class="phrase">Si vous souhaitez payer en ligne, veuillez procéder ci-dessous</div>
        
        <div class="payment-container">
            <div><br>Montant à payer : 300.0 dhs</div>
            <div id="paypal-button-container">
                <button (click)="renderPayPalButton()" [disabled]="!paypalScript" class="bout">Payez avec PayPal</button>
            </div>
        </div>
    </div>
</div>

<nav class="main-menu">
    <div class="logo-containers">
        <a href="/patient"><img src="assets\m2.png" alt="Logo" class="logo"></a>
    </div>
    <div class="scrollbar" id="style-1">
        <ul>
            <li class="darkerli">
                <a routerLink="/patient">
                    <span class="material-symbols-outlined">
                        switch_account
                    </span><span class="nav-text">Mon Portail</span>
                </a>
            </li>
            <li class="darkerli">
                <a routerLink="/compte">
                    <span class="material-symbols-outlined">
                        account_circle
                    </span><span class="nav-text">Compte</span>
                </a>
            </li>

            <li class="darkerli">
                <a routerLink="/calendar">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                    <span class="nav-text">Rendez-vous</span>
                </a>
            </li>

            <li class="darkerli">
                <a routerLink="/survey">
                    <span class="material-symbols-outlined">
                        patient_list
                    </span> <span class="nav-text">Dossier Médical</span>
                </a>
            </li>
            
            <li class="darkerli">
                <a routerLink="/payment">
                    <span class="material-symbols-outlined">
                        payment
                    </span><span class="nav-text">Facturation et paiement</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="foot">
    <nav class="breadcrumbFo">
        <p>&copy; 2024 Cabinet médical DocConnect. Tous droits réservés.<br>Conçu et developpé par CHIGUEUR Manal</p>
    </nav>
</div>
