<div class="rdv">
    <div class="container">
        <div class="text-content">
            
            <h3 class="titre-rdv"> <span class="material-symbols-outlined">
                calendar_month
            </span> Prenez Rendez-vous Facilement</h3>
            <p class="rdvp">
                Contactez-nous par téléphone ou prenez rendez-vous en ligne à votre convenance.<br>
            </p>
            <button onclick="location.href='/rdv'" class="button-27" role="button">EN-LIGNE</button>
            <a href="tel: 05 36 75 11 50" class="button27">TELEPHONE</a>
        </div>
        <div class="card" onclick="location.href='/rdv'">
            <div class="card-content">
                <div class="icon-title-container">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" height="38px" viewBox="0 -960 960 960" width="48px" fill="#2c80da">
                            <path d="m627-287 45-45-159-160v-201h-60v225l174 181ZM480-80q-82 0-155-31.5t-127.5-86Q143-252 111.5-325T80-480q0-82 31.5-155t86-127.5Q252-817 325-848.5T480-880q82 0 155 31.5t127.5 86Q817-708 848.5-635T880-480q0 82-31.5 155t-86 127.5Q708-143 635-111.5T480-80Zm0-400Zm0 340q140 0 240-100t100-240q0-140-100-240T480-820q-140 0-240 100T140-480q0 140 100 240t240 100Z"/>
                        </svg>
                    </div>
                    <p class="card-title">Nos horaires</p>
                </div>
                <div class="card-para">
                    <div>Lundi - Vendredi <span class="large-space"></span> 9h00 - 17h00</div>
                    <div>Samedi <span class="large-space2"></span> 9h00 - 12h00</div>
                    <div>Lundi - Vendredi<span class="large-space"></span>9h00 - 17h00</div>
                </div>
                <a href="/contact">LEARN MORE <strong>-></strong></a>
            </div>
        </div>
    </div>
</div>
