.rdv {
  width: 100%;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.text-content {
  max-width: 50%; 
}

.titre-rdv {
  color: #504f52;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  font-weight: 550;
  margin-left: 200px;
}

.rdvp {
  line-height: 2; 
  font-weight: 400;
  color: #414041;
  margin-left: 150px;
}
.material-symbols-outlined {
  color: #2c80da;
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  font-size: 38px;
  vertical-align: middle;
  margin-left: -55px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;

}
.button-27 {
  background-color: #2c80da;
  border: 1px solid #2c80da;
  border-radius: 9px;
  box-sizing: border-box;
  color: #fffefe;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: 'inter';
  padding: 10px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 140px;
  will-change: transform;
  margin-top: 10px;
  margin-left: 150px;
}

.button-27:hover {
  background-color: #2c80da;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

.button27 {
  background-color: #fafafd;
  text-decoration: none;
  border: 2px solid #2c80da;
  border-radius: 9px;
  box-sizing: border-box;
  color: #2c80da;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-family: 'inter';
  padding: 10px;
  text-align: center;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  touch-action: manipulation;
  width: 140px;
  will-change: transform;
  margin-top: 10px;
  margin-left: 30px;
}

.button27:hover {
  background-color: #2c80da;
  color:  #fafafd;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button27:active {
  box-shadow: none;
  transform: translateY(0);
}

.card {
  width: 300px;
  height: 200px;
  background-color: #f2f2f494;
  border-radius: 8px;
  border: 1.7px solid #2c80da;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  cursor: pointer;
  margin-left: 200px;
  margin-bottom: 30px;
}

.card-content {
  padding: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.icon-title-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-bottom: 20px; 
}

.icon {
  margin-right: 10px; 
}

.card-title {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  margin: 0; 
  color: #2c80da;
  font-weight: 550;
}

.card-para {
  color:#656262;
  opacity: 1;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
}

.card:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:before {
  transform: translateX(-100%);
}

.card:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  z-index: 1;
}

.card:hover:after {
  transform: translateX(100%);
  background: linear-gradient(transparent, rgba(0.5, 0, 0, 0));
}

a {
  color: #2c80da;
  margin-top: 10px;
}
.large-space {
  margin-right: 30px; 
}
.large-space2 {
  margin-right: 90px;
}
