.head{
    margin-top: 90px;
}
.scrollbar {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.scrollbar:hover {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}



#style-1::-webkit-scrollbar-track {
    border-radius: 2px;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #BFBFBF;
}
.nav-text{
    height: 50px;
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: hidden;
    opacity: 1;

}

.main-menu {
    background: #fcfcff;
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 55px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    height: 170%;
    z-index: 1;
}

.main-menu>ul {
    margin: 7px 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    width: 255px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000000;
    font-size: 13px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top: 1px solid #f2f2f2;
    text-shadow: 1px 1px 1px #fff;
}

.main-menu .nav-icon {

    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {

    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Inter', sans-serif;
}

.main-menu .fb-like {

    left: 180px;
    position: absolute;
    top: 15px;
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0;

}

.no-touch .scrollable.hover {
    overflow-y: hidden;

}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;

}

.settings:hover,
.settings:focus {
    background: url(https://s17.postimg.org/74cl7s05b/logo_hover.jpg);
    -webkit-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.2s ease-in-out, width 0, height 0, top 0, left 0;
}

.settings:active,
settings:focus {
    background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
    -webkit-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    -moz-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    -o-transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
    transition: all 0.1s ease-in-out, width 0, height 0, top 0, left 0;
}


a:hover,
a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;



}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.darkerli {
    background-color: #ededed;
    text-transform: capitalize;
    height: 50px;
}


.darkerlishadow {
    height: 50px;
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #000000;
    background-color: #9eb9c56e;
    text-shadow: 0px 0px 0px;
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.material-symbols-outlined {
    color: #2272c8;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    vertical-align: middle;
    margin-left: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 10px;
}

.logo-containers {
    text-align: center;
    width: 120px;
    margin-bottom: 50px;
}

.logo-containers img {
    width: 120px;
    height: auto;
    margin-top: 130px;
    margin-left: 64px;

}




.bodi {
    font-family: "Inter", sans-serif;
    color: #ffffff;
    font-weight: 500;
    background-size: cover;
    background-position: center;
    background-image: url('https://img.freepik.com/free-photo/flat-lay-medical-desk-arrangement-with-copy-space_23-2148502980.jpg?t=st=1718032187~exp=1718035787~hmac=5743a6b5a336940819b0b2e1a9b4df2ced141f7289f70c726bc15f43059c4fec&w=740');
    height: 170vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    margin-top: 30px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    color: #000000;
}

th {
    background-color: #3b7dd8;
    color: rgb(255, 255, 255);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.checkbox .checkmark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    transition: background-color 0.2s ease;
}

.checkbox input[type="checkbox"]:checked+.checkmark {
    background-color: #0078d4;
    border-color: #0078d4;
}

.checkbox input[type="checkbox"]:checked+.checkmark:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s ease;
    transform: scale(1);
}

.checkbox .checkmark:after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: transparent;
    transform: scale(0);
    transition: transform 0.2s ease;
}


.button-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

button {
    border: 2px solid #0071e2;
    background-color: #0071e2;
    border-radius: 0.9em;
    padding: 0;
    height: 40px;
    transition: all ease-in-out 0.2s;
    font-size: 16px;
    display: flex;
    align-items: center;
}

button span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
    padding: 0 1em;
}

button:hover {
    background-color: #24b4fb;
    border-color: #24b4fb;
}

.cancel-button {
    border-color: #e20000;
    background-color: #e20000;
}

.cancel-button:hover {
    background-color: #ff5a5a;
    border-color: #ff5a5a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    padding: 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    color: #000000;
}

.prescription-form {
    text-align: left;
}

.image {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #05070b;
    font-family: 'Inter';
    margin-top: -100px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group0 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-group0 input[type="checkbox"] {
    margin-right: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

.wrapper {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;
    background-color: #efeff0;
}

.input-group {
    display: contents;
    color: #075aad;

}


.input-group textarea {
    grid-column: 2;
    width: 100%;
    box-sizing: border-box;
}

h5 {
    color: #fdfdfd;
    font-size: 18px;
    font-style: italic;
}


.foot{
    width: 100%;
    background-color: #092d5f;
    height: 120px;
}
footer {
    font-family: 'Inter';
    font-weight: 500;
    color: #075aad;
    padding: 15px;
    text-align: center;
    background-color: #eeecec;
    padding: 10px;
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}